/* -------------- GENERAL -------------- */

body{
	font-family: 'Open Sans', sans-serif;
}
#wrapper {
	/* max-width asign the espace destinated to the contend*/
	max-width: 940px;
	/* margin recieve two values, first is the margin top-botton and second is left-right. */
	/* auto just work with the espace left */
	margin: 0 auto;
	/* 5% padding to both sides of the element. */
	padding: 0 5%;
}
a {
	text-decoration: none;
}
img {
	/* max-width allow all images to fill their parent element. */
	max-width: 100%;
}



/* -------------- HEADING -------------- */
header {
	float: left;
	/* top, right, bottom, left. */
	margin: 0 0 30px 0;
	padding: 5px 0 0 0;
	width: 100%;	
}

#logo {
	/* some properties can take values or keywords. */
	text-align: center;
	margin: 0;
}
h1 {
	/* first name of the font, sencond name of other font if first is not available */
	font-family: 'Changa One', sans-serif;
	margin: 15px 0px;
	font-size: 1.75em;
	/* unbold headline, headlines elements are bold by default. */
	font-weight: normal;
	/* line-height determine the amoung of space between each line of text. */
	line-height: 0.8em;
}
h2 {
	font-size: 0.75em;
	/* first value == top, second == left & right, third == bottom */
	margin: -5px 0 0;
	font-weight: normal;
}



/* -------------- NAVIGATION -------------- */

nav {
	text-align: center;
	padding: 10px 0;
	margin: 20px 0 0;
}
nav ul {
	list-style: none;
	margin: 0 10px;
	padding: 0;
}
nav li {
	display: inline-block;
}
nav a {
	font-weight: 800;
	padding: 15px 10px;
}



/* -------------- FOOTER -------------- */

footer {
	font-size: 0.75em;
	text-align: center;
	clear: both;
	padding-top: 50px;
	color: #ccc;
}
.social-icon {
	width: 20px;
	height: 20px;
	margin: 0 5px;
}



/* -------------- PROTFOLIO -------------- */

#gallery {
	margin: 0;
	padding: 0;
	list-style: none;
}
#gallery li {
	/* float allow us to position elements in a special way */
	float: left;
	/* image width will be 45% of it's parent element */
	width: 45%;
	/* margin 2.5%. why? cuz with=45. with*2 = 90%. So you have a remainder of 10%, remider/4(image margins) = 2.5% */
	margin: 2.5%;
	background-color: #f5f5f5;
	color: #bdc3c7;
}
#gallery li a p {
	margin: 0;
	padding: 5%;
	font-size: 0.75em;
	color: #bdc3c7;
}



/* -------------- COLORS -------------- */

body {
	background-color: #fff;
	color: #999;
}
header {
	background: #6ab47b;
	border-color: #599a68; 
}
nav {
	background: #599a68;
}
h1, h2 {
	color: #fff;
}
a {
	color: #6ab47b;
}
nav a, nav a:visited {
	color: #fff;
}
nav a.selected, nav a:hover {
	color: #32673f;
}
